@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));



@media (max-width: 780px) {
  #inicio {
    padding-top: 8rem !important;
    padding-bottom: 4rem;
  }
}
section {
  min-height: 100svh;      /* usa el viewport seguro en mobile */
  overflow: hidden;         /* evita que asome la siguiente */
}