@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
section {
  height: 100vh;
}

@media (max-width: 768px) {
  section {
    min-height: calc(100vh - 60px);
  }
}