---
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from '../icons/linkedin.astro';
import SocialPill from '../icons/socialpill.astro';
import GitHubIcon from '../icons/github.astro';
import Mail from '../icons/mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../icons/SectionContainer.astro';
import Header from '../components/Header.astro';
import Habilidades from '../components/Habilidades.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
		<Header />
	<main class="scroll-smooth snap-y snap-mandatory overflow-auto w-full h-screen relative z-10 flex min-h-screen flex-col items-center justify-start text-white">
			<div id="inicio" class="snap-center flex flex-col items-center justify-center pt-60 transition-transform duration-300 hover:scale-105">
				<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 py-20 text-center justify-center">German Heredia Ezequiel</h1>
				<h2 class="text-2xl font-bold text-center"><span class="text-yellow-200/90 opacity-90">Desarrollador de Aplicaciones</span></h2>
				<h2 class="text-1xl font-bold text-center"><span class="text-yellow-200/90 opacity-90">Full Stack Developer</span></h2>
			</div>
			<div>
				<SectionContainer>
				<nav class="flex gap-x-2 justify-center">
		
				<SocialPill href="https://www.linkedin.com/in/german-heredia-12504a376/?trk=opento_sprofile_details">
					<LinkedInIcon width="24" height="24" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/germanheredia121-tech">
					<GitHubIcon width="24" height="24" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:germanheredia121@gmail.com">
					<Mail width="24" height="24" />
					germanheredia121@gmail.com
				</SocialPill>
				</nav>
				</SectionContainer>
			</div>
			
		
		<div class="snap-center transition-transform duration-300 hover:scale-120" id="experiencia">
			<section class="py-50 px-20">
			<h2 class="text-4xl font-bold text-center pb-30"><span class="text-white-200/90 opacity-90">Experiencia</span></h2>
			<Experience />
			</section>
		</div>
		
		<div id="habilidades" class="snap-center ">
			<Habilidades />
		</div>
		
	</main>
</Layout>
